[SETTINGS]
APIID=
APIKEY=
SAVE_LOCALLY=YES
PROCESS_DIR=/location/for/logfiles
BASEURL=
USEPROXY=NO
PROXYSERVER=
SYSLOG_ENABLE=NO
SYSLOG_ADDRESS=
SYSLOG_PORT=
USE_CUSTOM_CA_FILE=NO
CUSTOM_CA_FILE=
SFTP_TRANSFER=NO
SFTP_HOSTNAME=
SFTP_PORT=22
SFTP_USERNAME=myuser
SFTP_PASSWORD=mypass
SFTP_REMOTEDIR=/some/file/structure
